.cartaoDestaque{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-color: rgb(230, 230, 230);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
    width: 95%;
    gap: 20px;
    transition: 0.3s;


    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);

    .info{
        display: flex;
        flex-direction: column;
        text-align:justify;
    }
    .image{
        border-radius: 10px;
        height: 250px;
        width: 190px;
    }

    &:hover{
        transform: scale(102%);
    }

    .direita{
        order:1;
    }
}